@using Microsoft.AspNet.Identity

@model Tasks.Models.Task

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}
<h4>@Model.Title</h4>
<p> Description: @Model.TaskDescription</p>
<p> Status: @Model.Status</p>
<p><i class="fa fa-clock-o" aria-hidden="true"></i>@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>
<p> Assigned To: @Model.AssignedTo.UserName</p>
<ul class="list-group">
    @foreach (Tasks.Models.Comment comm in ViewBag.Comments)
    {
        <li class="list-group-item">
            <strong>@comm.Content</strong>
            @if (User.IsInRole("Administrator") || comm.LeftById == User.Identity.GetUserId())
            {
                <a href="/Comment/Edit/@comm.CommentId"><i class="fa fa-edit"></i></a>
                <form style="display:inline-block;" method="post" action="/Comment/Delete/@comm.CommentId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button style="border:none;background-color:white" type="submit"><i class="fa fa-trash"></i></button>
                </form>
            }
            <br />
            <i class="fa fa-user" aria-hidden="true"></i>
            <label>Left By</label>
            <strong>@comm.LeftBy.UserName</strong>
            <i class="fa fa-calendar"></i>
            <strong>@comm.CreatedDate.ToString()</strong>
        </li>
    }
</ul>
@if (ViewBag.showButtons == true)
{
    <form method="post" action="/Comment/New">
        @Html.Hidden("CreatedDate", DateTime.Now, new { @class = "form-control" })
        <input type="hidden" name="TaskId" value="@Model.TaskId" />
        @Html.TextBox("Content", null, new { placeholder = "Write a comment...", @class = "form-control inline-btn" })
        <button type="submit" class="btn btn-outline-success inline-btn"><i class="fa fa-comment"></i></button>
    </form>
}